<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>warehouse terms and condition</title>
</head>
<body>
    <p>
    Access Restrictions: Users agree to abide by any access restrictions set by the warehouse management, including designated operating hours and entry requirements.

    Security Measures: Users acknowledge and agree to comply with all security measures implemented by the warehouse, including but not limited to surveillance cameras, access control systems, and security personnel.

    Liability: Users understand and accept that the warehouse is not liable for any loss, damage, or theft of stored items, unless such loss, damage, or theft is a direct result of the warehouse's negligence or misconduct.

    Insurance: Users may be required to maintain adequate insurance coverage for their stored items and agree to provide proof of insurance upon request.

    Payment Terms: Users agree to pay all fees and charges associated with the use of warehouse services in a timely manner, as outlined in the agreed-upon terms and conditions or service agreement.

    Compliance with Laws: Users agree to comply with all applicable laws, regulations, and industry standards governing the use of warehouse facilities, including those related to safety, environmental protection, and transportation.

    Prohibited Items: Users agree not to store any prohibited items in the warehouse, including hazardous materials, illegal substances, perishable goods, or items that pose a risk to the health and safety of warehouse staff and other users.

    Termination of Services: The warehouse reserves the right to terminate or suspend services to any user who violates these terms and conditions or engages in any unlawful or disruptive behavior.
    </p>

    <div>
        <button onclick="window.location.href = '{% url 'warehouseregister' %}'">Back</button>
    </div>
</body>
</html>